// Футер - Контакты
.footer__contact-box {
    @media screen and (max-width: $before-tablet) {
        margin-bottom: 60px;
    }

    @media screen and (max-width: $before-desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__contact-item:not(:last-child) {
    margin-bottom: 6px;
}

.footer__contact-link {
    display: inline-block;

    color: $secondary-text-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    
    &:hover,
    &:focus {
        color: $additional-color;
    }
}