// Фильтр портфолио
.filter {
    display: flex;

    margin-bottom: 40px;
    
    @media screen and (max-width: $before-tablet) {        
        flex-wrap: wrap;
    }
    
    @media screen and (min-width: $tablet) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.filter__item {
    @media screen and (max-width: $before-tablet) {
        &:nth-child(-n + 3) {
            margin-bottom: 15px;
        }
    }

    &:not(:last-child) {
        margin-right: 8px;
    }
}