// Контейнер
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

.header__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: $before-desktop) {
        justify-content: space-between;
    }
}

.footer__container {
    display: flex;

    @media screen and (max-width: $before-tablet) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: $tablet) and (max-width: $before-desktop) {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media screen and (min-width: $desktop) {
        align-items: baseline;
    }
}

// Секции
.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    &--no-padding-top {
        padding-top: 0;
    }
}

// Главный стиль
body {
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    background-color: $white-color;
    color: $primary-text-color;
}

body.modal-open {
    overflow: hidden;
}

// Изображения
img {
    display: block;
    max-width: 100%;
    height: auto;

}
// ! Костыль для изображений Портфолио в Safari для MacOS
.portfolio img {
    @media screen and (max-width: $before-tablet) {
        width: 100%;
        height: max-content;
        object-fit: cover;
    }
}

// Ссылки
.link {
    text-decoration: none;
}

// Списки
.list {
    padding: 0;
    margin: 0;

    list-style: none;
}