// Наборы шрифтов
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

// Палитра цветов
$primary-text-color: #757575;
$secondary-text-color: #ffffff99;
$title-text-color: #212121;
$primary-bg-color: #f5f4fa;
$secondary-bg-color: #2f303a;
$additional-color: #2196f3;
$btn-hover-color: #188CE8;
$project-tumb-bg-color: #2196f3e6;
$icon-color: #afb1b8;
$form-border-color: #21212133;
$black-color: #000000;
$white-color: #ffffff;

// Временная функция
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Зазор между элементами
$items-gap: 30px;